<!--The content below is only a placeholder and can be replaced.-->

<h1>name:{{ member.name }}</h1>

<!-- プロパティバインディング -->
<span [title]="title">Hogehoge</span>

<!-- サイニタイジング確認 -->
<div>{{msg}}</div>

<table border=1>
  <tr><td [attr.rowspan]="len">結合</td><td>1</td></tr>
  <tr><td>2</td></tr>
  <tr><td>3</td></tr>
</table>

<div class="line back" [class.fore]="flag">CSS確認</div>

<input type="button" (click)="show($event)" value="現在時刻" />{{nowDate}}

<!-- イベントバブリングキャンセル -->
<div id="outer" (click)="onClick1()">outer
  <div id="inner" (click)="onClick2($event)">inner</div>
</div>

<input #txt type="text" name="txt" id="txt" (input)="showTxt(txt.value)" />
<ul [innerHTML]="txtMsg"></ul>

<!-- 双方向データバインディング -->
名前:<input type="text" id="name" name="name" [(ngModel)]="myName" />
<div>こんにちは{{myName}}</div>